fastapi
uvicorn
python-multipart
pydantic
pydantic-settings
boto3
pandas
openpyxl
sqlalchemy
psycopg2-binary
redis
opensearch-py
requests-aws4auth
langchain-text-splitters
pypdf
python-docx
pillow
pytesseract